@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-weight: normal; 
}
@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Bold.ttf);
	font-weight: bold; 
}
@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Light.ttf);
	font-weight: 300; 
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Lato;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.toggle-menu{
	display: block;
}
.mobile-logo{
	display: none;
}
.header{
	min-height: 100vh;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.header .modal-burger{
		width: 50px;
		height: 50px;
		position: absolute;
		top: 20px;
		right: 20px;
		display: none;
}
.modal-menu{
	display: none;
}

.header .modal-menu ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size:  18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 15px;
}
.open-modal{
	display: block;
}
.header .modal-menu ul li{
	list-style: none;
	border-bottom: 1px solid #4d4959;
}
.header .modal-menu ul li a{
	color: #4d4959;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
}
.header .modal-menu ul li a:hover{
	background-color: #4d4959;
	color: #f7f7f7;
}
.header nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	font-size:  18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.header nav ul li{
	list-style: none;
}
.header nav ul li a{
	color: #4d4959;
	text-decoration: none;
	display: block;
}
.header nav ul li a:hover{
	text-decoration: underline;
}

.aboutus{
	text-align:  center;
	padding-top: 110px;
	padding-bottom: 140px;
	background-color: #f7f7f7;
}
.aboutus img{
	margin-bottom: 30px;
}
.aboutus h2{
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 30px;
}
.aboutus p{
	font-size:  18px;
	color: #bfc0c1;
	line-height:  34px;
}
.work .grid{
	display: grid;
	justify-content: space-between;
	align-items: center;
}

.work .row1{
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 2fr 1fr;
}
.work .b-com{
	background-image: url(../img/fon1.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.work .vin-ol .top{
	text-align: center;
	padding: 0 30px;
	background-color: #ffffff;
}
.work .vin-ol .top img{
	margin:  0 auto;
	margin-top: 50px;
	margin-bottom: 30px;
}
.work .vin-ol h2{
	margin-bottom: 15px;
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.work .vin-ol p{
	font-size:  18px;
	color: #bfc0c1;
	line-height:  34px;
	margin-bottom: 90px;
}
.work .vin-ol .micro img{
	width:  100%;
	height:  auto;
	object-fit: cover;
	display: block;
}

.work .row2{
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 1fr 2fr;
}
.work .vintage{
	background-image: url(../img/fon3.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.work .bar .top{
	text-align: center;
	padding: 0 30px;
	background-color: #ffffff;
}
.work .bar .top img{
	margin:  0 auto;

	margin-top: 50px;
	margin-bottom: 30px;
}
.work .bar h2{
	margin-bottom: 15px;
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.work .bar p{
	font-size:  18px;
	color: #bfc0c1;
	line-height:  34px;
	margin-bottom: 90px;
}
.work .bar .micro2 img{
	min-width:  100%;
	min-height:  100%;
	object-fit: cover;
	display: block;
}
.work .row3{
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}
.work .block1{
	background-image: url(../img/fon5.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.work .block2 .top{
	text-align: center;
	padding: 0 30px;
	background-color: #ffffff;
}
.work .block2 .top img{
	margin:  0 auto;

	margin-top: 50px;
	margin-bottom: 30px;
}
.work .block2 h2{
	margin-bottom: 15px;
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.work .block2 p{
	font-size:  18px;
	color: #bfc0c1;
	line-height:  34px;
	margin-bottom: 90px;
}
.work .block2 .micro3 img{
	min-width:  100%;
	min-height:  100%;
	object-fit: cover;
	display: block;
}

.work .block3{
	background-image: url(../img/fon6.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-block{
	background-color: #f7f7f7;
}

.slider-wrap {
	height: 450px;
	margin: 0 auto;
	width: 700px;
	padding-top: 100px;
	position: relative;
}
.slider {
	height: inherit;
	overflow: hidden;
	width: inherit;
}
.slider-wrap > input {
	display: none;
}

.slider-wrap .controls {
	width: 120px;
	left: calc(50% - 60px);
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 70px;
	z-index: 1;
}

.slider-wrap label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
}

.slider-wrap label:after {
	border: 2px solid #a9afb3;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}
.slider-wrap label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

/*.slider-wrap label:hover,*/ 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
	background: #a9afb3;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transition: opacity ease-in-out .5s;
	text-align: center;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
	opacity: 1;
	z-index: 1;
}
.slider .slide-icon{
	width: 35px;
	height: 35px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.slider .slide-icon img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.slider .slide-header{
	margin-bottom: 30px;
	font-size:  18px;
	font-weight: bold;
	letter-spacing: 3px;
}
.slider .slide-header span{
	color: #848789;
	font-weight: 300;
}
.slider .slide-text{
	color: #848789;
	line-height:  34px;
	font-style: italic;
	font-size:  18px;
}
.shop-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.shop-item1{
	grid-column-start: 1;
	grid-column-end: 2;
}
.shop-item2{
	grid-column-start: 2;
	grid-column-end: 3;
}

.shop-item3{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
}
.shop-item4{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
}
.shop-item5{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
}
.shop-item6{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 1;
}
.shop-container img{
	width:  100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.shop-container a{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.shop-container a:after{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	transition: background-color 1s;
}
.shop-container a:hover:after{
	background-color: rgba(99,170,145,.5);
	background-image: url(../img/shop_now.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.shop .shop-discover{
	width: 100%;
	min-height: 200px;
	background-color: #282f35;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shop .shop-discover .shop-button{
	text-align: center;
	text-transform: uppercase;
	padding: 10px 55px;
	border: 1px solid #94979a;
	border-radius: 3px;
	background-color: #282f35;
	color: #94979a;
	font-weight: bold;
	cursor: pointer;
}
.mail{
	padding: 100px 0;
	text-align: center;
}
.mail .mail-logo{
	margin-bottom: 30px;
}
.mail .mail-text{
	color: #94979a;
	font-size: 24px;
	font-style: italic;
	margin-bottom: 30px;
}
.mail .mail-search .in-text,
.mail .mail-search .in-btn{
	padding: 15px 45px;
	border-radius: 3px;
}
.mail .mail-search .in-text{
	color: #94979a;
	font-style: italic;
	font-size: 20px;
	border: 1px solid #94979a;
}
.mail .mail-search .in-btn{
	color: #ffffff;
	font-size: 20px;
	background-color: #64c29e;
	border: none;
	cursor: pointer;
}
.footer {
	background-color: #f7f7f7;
	padding: 100px 0;
}
.footer .container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
}
.footer .footer-address{
	color: #94979a;
	line-height: 34px;
	font-style: italic;
	font-size: 16px;
}
.footer .footer-address .head{
	font-style: normal;
	font-weight: bold;
}
.footer .footer-social{
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer .footer-social a{
	width: 35px;
	height: 35px;
	display: block;
	margin: 0 10px;
}
.footer .footer-social a img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer .footer-name{
	display: flex;
	justify-content: center;
	align-items: center;
	color: #94979a;
	font-style: italic;
}
.footer .footer-name img{
	display: block;
	margin-left: 10px;
}

/******* ADAPTIVE ********/

@media screen and (max-width: 768px){
	.header{
		padding: 0 15px;
		min-height: 70vh;
	}
	.header .modal-burger{
		display: block;
	}
	.mobile-logo{
		display: block;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.header nav{
		display: none;
	}
	.aboutus{
		padding: 70px 15px;
	}
	.aboutus h2{
		font-size: 20px;
	}
	.work .row1{
		grid-template-columns: 1fr 1fr;
	}
	.work .row2{
		grid-template-columns: 1fr 1fr;
	}
	.work .vin-ol h2{
		font-size: 20px;
	}
	.work .bar h2{
		font-size: 20px;
	}
	.work .row3{
		grid-template-columns: 1fr 1fr;
	}
	.work .block2 h2{
		font-size: 20px;
	}
	.shop-container{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.shop .shop-discover{
		min-height: 120px;
	}
	.footer{
		padding: 70px 15px;
	}
}

@media screen and (max-width: 640px){
	.header .modal-burger{
		display: block;
	}
	.header{
		min-height: 50vh;
	}
	.header nav{
		display:  none;
	}
	.mobile-logo{
		display: block;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.aboutus{
		padding: 40px 15px;
	}
	.aboutus h2{
		font-size: 18px;
	}
	.aboutus p{
		font-size:  16px;
		line-height:  28px;
	}
	.work .grid{
		display: block;
		max-width: 100%;
	}
	.work .row1{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.work .b-com{
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.work .vin-ol{
		grid-row-start: 2;
		grid-row-end: 3;
	}
	.work .vin-ol h2{
		margin-bottom: 15px;
		font-size:  18px;
	}
	.work .vin-ol p{
		font-size:  16px;
		line-height:  24px;
		margin-bottom: 30px;
	}
	.work .row2{
		display: block;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.work .bar .micro2 img{
		width: 100%;
	}
	.work .bar h2{
		margin-bottom: 15px;
		font-size:  18px;
	}
	.work .bar p{
		font-size:  16px;
		line-height:  24px;
		margin-bottom: 30px;
	}
	.work .row3{
		display: block;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
	.work .block2 h2{
		margin-bottom: 10px;
		font-size:  18px;
	}
	.work .block2 p{
		font-size:  16px;
		line-height:  24px;
		margin-bottom: 30px;
	}
	.work .block2 .micro3 img{
		width: 100%;
	}
	.work .vintage img{
		padding: 50px 0;
	}
	.work .block1 img{
		padding: 50px 0;
	}
	.slider-wrap{
		padding-top: 30px;
		width: 280px;
	}
	.mail{
		padding: 40px 15px;
	}
	.mail .mail-text{
		font-size: 18px;
	}
	.mail .mail-search .in-text{
		font-size: 16px;
		margin-bottom: 10px;
		padding: 15px 45px;
	}
	.shop-container{
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	.shop-container img{
		width:  100%;
		height: 250px;
		object-fit: cover;
		display: block;
	}
	.shop-item1{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.shop-item2{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.shop-item3{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.shop-item4{
	 	grid-column-start: 1;
		grid-column-end: 2;
	  grid-row-start: 4;
		grid-row-end: 5;
	}
	.shop-item5{
	  grid-column-start: 1;
		grid-column-end: 2;
	  grid-row-start: 5;
		grid-row-end: 6;
	}
	.shop-item6{
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 6;
		grid-row-end: 7;
	}
	.footer{
		padding: 40px 15px;
	}
	.footer .container{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.footer .footer-address{
		margin-bottom: 30px;
	}
	.footer .footer-social{
		margin-bottom: 30px;
	}
}