@font-face {
    font-family: Lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);
    font-weight: normal; 
}
@font-face {
	font-family: Lato;
	src: url(../fonts/Lato/Lato-Bold.ttf);
	font-weight: bold; 
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Lato;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.header{
	min-height: 100vh;
	background-image: url(../img/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.header nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
	font-size:  18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.header nav ul li{
	list-style: none;
}
.header nav ul li a{
	color: #4d4959;
	text-decoration: none;
	display: block;
}
.header nav ul li a:hover{
	text-decoration: underline;
}

.aboutus{
	text-align:  center;
	padding-top: 110px;
	padding-bottom: 140px;
	background-color: #f7f7f7;
}
.aboutus img{
	margin-bottom: 30px;
}
.aboutus h2{
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 30px;
}
.aboutus p{
	font-size:  18px;
	color: #bfc0c1;
	line-height:  34px;
}
.work .grid{
	display: grid;
	justify-content: space-between;
	align-items: center;
}

.work .row1{
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 2fr 1fr;
}
.work .b-com{
	background-image: url(../img/fon1.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.work .vin-ol .top{
	text-align: center;
	padding: 0 30px;
	background-color: #ffffff;
}
.work .vin-ol .top img{
	margin:  0 auto;

	margin-top: 50px;
	margin-bottom: 30px;
}
.work .vin-ol h2{
	margin-bottom: 15px;
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.work .vin-ol p{
	font-size:  18px;
	color: #bfc0c1;
	line-height:  34px;
	margin-bottom: 90px;
}
.work .vin-ol .micro img{
	width:  100%;
	height:  auto;
	object-fit: cover;
}

.work .row2{
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: 1fr 2fr;
}
.work .vintage{
	background-image: url(../img/fon3.png);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.work .bar .top{
	text-align: center;
	padding: 0 30px;
	background-color: #ffffff;
}
.work .bar .top img{
	margin:  0 auto;

	margin-top: 50px;
	margin-bottom: 30px;
}
.work .bar h2{
	margin-bottom: 15px;
	font-size:  24px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.work .bar p{
	font-size:  18px;
	color: #bfc0c1;
	line-height:  34px;
	margin-bottom: 90px;
}
.work .bar .micro2 img{
	min-width:  100%;
	min-height:  100%;
	object-fit: cover;
}